name: Push Docker Image

on:
  workflow_dispatch:

  release:
    types: [ published ]

permissions:
  packages: write
  contents: read

env:
  IMAGE_NAME: pandora
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  get-tags:
    runs-on: ubuntu-latest
    outputs:
      image_version: ${{ steps.get_image_version.outputs.image_version }}
    steps:
      - uses: actions/checkout@v3

  push-docker-hub:
    needs: get-tags
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
